.about{
    padding: 80px 0;

    &__content{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        gap: 70px;
        display: flex;

        &__text--title{
            font-weight: bold;
            color: #202020;
            font-size: 32px;
            margin-bottom: 16px;
            border-bottom: 2px solid rgba( #ff7b00, 0.7);
        }

        img{
            border-radius: 3px;
            margin-top: 35px;
            border: 1px solid #ff7300;
        }
    }
}

@media (max-width: 767px){
    .about{
        padding: 50px 20px;

        &__content{
            max-width: 90%;

            img{
                display: none;
            }

            &__text{
                text-align: center;
                color: #48514e;

                &__title{
                    text-align: center;
                }
            }
        }
    }
    }