
.event{
    &--tck{
        // background-image: linear-gradient(90deg,#ffde59,#ff914d)
        background-image: linear-gradient(360deg, #fff, #373737);
    }

    &__content{
        max-width: 1024px;
        margin: 0 auto;
        padding-bottom: 30px;

        &__ticket{
            background-color: #161616;
            display: flex;
            border-radius: 6px;
            margin-bottom: 40px;

            #second{
                margin-right: 13.5%;
            }
        }

        &__title{
            color: #fff;
            border-bottom: 2px solid rgba( #ff7b00, 0.7);
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 80px;
        }
    }

    .event__ticket{

        &__text{
            color: #fff;
            margin-left: 60px;
            margin-top: 24px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
        }
    
        &__info{
            color: #fff;
            font-size: 12px;
            display: grid;
            gap: 12px;
            margin-left: 60px;

        &__infos{
            span{
                background-color: #ff914d;
                padding: 5px;
                border-radius: 6px;
                color: #000;
                font-weight: 700;
            }

            i{
                margin-right: 8px;
                color: #ff914d;
            }
        }
        }
        
    }

    a.button{
        color: #1a1a1a;
        font-weight: bold;
        text-transform: uppercase;
        height: 40px;
        width: 180px;
        margin: 60px auto;
        border: none;
        border-radius: 30px;
        background-image: linear-gradient(90deg, #ffde59, #ff914d);
        text-decoration: none;
        padding-left: 16px;
        padding-top: 8px;

        &:hover{
            background-image: linear-gradient(90deg, #ff7520, #ffdc51);
        }
    }
}

@media (max-width: 767px){
    .event{

        &--tck{
            background-image: linear-gradient(180deg, #fff, #ffffff);
        }

        &__content{
            max-width: 90%;
            padding-bottom: 0;

            &__title{
                text-align: center;
                padding-top: 46px;
                color: #202020;
                font-size: 28px;
            }

            &__ticket{
                display: block;
                padding-bottom: 30px;

                #second{
                    margin-right: 0;
                }

                .event__ticket{
                    margin-right: 0%;
                    padding-right: 0px;
                    padding-bottom: 20px;
        
                    &__text{
                        font-size: 16px;
                        text-align: center;
                        margin: 0px auto;
                        margin-top: 20px;
                        margin-bottom: 15px;
                    }

                    #ipad{
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        font-weight: bold;
                        width: 300px;
                    }

                    &__info{
                        text-align: center;
                        margin-left: 0;
                        font-weight: bold;
                    }
        
                    #txt{
                        text-align: center;
                    }
                }

                img{
                    width: 90%;
                    border-radius: 3px;
                    margin-top: 9px;
                    margin-left: 16px;
                    height: 40vh;
                }

                a.button{
                    margin: 0;
                    margin-left: 24%;
                    // width: 200px;
                    // height: 44px;
                    font-size: 18px;
                    padding: 10px;
                }
            }
        }
    }
}

@media  (min-width: 768px) and (max-width: 1023px){
    .event{

        &__content{
            max-width: 90%;
            width: 80%;

            &__title{
                text-align: center;
                font-size: 36px;
            }

            &__ticket{
                display: block;
                text-align: center;
                padding-bottom: 50px;

                #second{
                    margin-right: 0;
                }

                .event__ticket{
                    padding-bottom: 60px;

                &__text{
                    margin-left: 0;
                    padding-bottom: 20px;
                    font-size: 32px;
                }
                
                #ipad{
                    width: 560px;
                    margin: 0 auto;
                }

                &__info{
                    margin: 0 auto;
                    margin-left: 0;
                    font-size: 22px;
                    
                }
            }

                img{
                    width: 100%;
                    height: 30vh;
                    border: 1px solid #000;
                }

                a.button{
                    width: 300px;
                    height: 60px;
                    font-size: 22px;
                    font-weight: bold;
                    padding: 16px;
                }
            }
        }
            &__info{
                margin: 0 auto;
                margin-left: 0;
            }
        }
    }