.ofertas{
    padding-bottom: 80px;
    padding-top: 30px;
    background-image: linear-gradient(1deg, #ffef34, #ff8400);

    &__content{
        margin: 0 auto;
        max-width: 960px;
        text-align: center;
        padding-top: 70px;

        .container{
            padding: 0;

            &__title{
                color: #ffffff;
                padding-top: 20px;
                margin-bottom: 40px;
                font-size: 50px;
                font-family: Vollkorn, serif;
                font-style: italic;
            }
        }
    
        .ofertas__text{
            font-size: 18px;
            width: 47vw;
            margin: 0 auto;
            color: #ffffff;

            &__versiculo{
                font-family: 'Courgette', cursive;
                margin: 8px;
            }

            span{
                font-family: 'Courgette', cursive;
            }

            &__description{
                margin-top: 30px;
                font-family: 'Vollkorn', serif;
            }
        }
        .button{
            color: #1a1a1a;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            height: 45px;
            width: 150px;
            margin: 20px auto;
            border: none;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 5px 15px -2px gray;

            &:hover{
                background-color: #ffd100;
                color: white;
                border: 1px solid #1a1a1a;
            }
        }
    }
}

@media (max-width: 767px){
        .ofertas{
            padding-top: 0;

            &__content{
                max-width: 90%;
                padding-top: 30px;

                .container{

                    &__title{
                        font-size: 32px;
                        margin-bottom: 24px;
                    }
                }

                .ofertas__text{
                    width: 80%;

                    &__versiculo{
                        font-size: 14px;
                    }

                    span{
                        font-size: 14px;
                    }

                    &__description{
                        font-size: 14px;
                    }
                }

                .button{
                    border: 1px solid #ffb100;
                }
            }
        }
    }